<div class="container fixed-top">
  <div class="row">
    <div class="col-2 mt-1">
      <div class="Back">
        <img routerLink="/auto-form" src="/assets/images/Group.png" />
      </div>
    </div>
    <div class="col-8">
      <nav class="navbar">
        <div class="navbar-nav flex-row" style="width: 100%">
          <div class="row" style="width: 100%">
            <div class="col-4">
              <a
                class="nav-link"
                style="position: relative; bottom: 10px"
                href="#"
                >Home</a
              >
            </div>
            <div class="col-4">
              <a
                class="nav-link"
                style="position: relative; bottom: 10px"
                href="#"
                >Form</a
              >
            </div>
            <div class="col-4">
              <a
                class="nav-link"
                style="position: relative; bottom: 10px"
                href="#"
                >User</a
              >
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-2 mt-1">
      <div class="Back">
        <img src="/assets/images/locksmith.png" />
      </div>
    </div>
  </div>
</div>

<app-form-card></app-form-card>

{{ forms | json }}

<!-- <div class="container" style="position: relative; top: 200px">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <button class="button mb-2 mt-5">Cerere eliberare pasaport</button>
      <div class="row">
        <div class="col-5">
          <button class="button4 mb-3">Editare</button>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
          <button class="button5 mb-3">Sterge</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <button class="button2 mb-2 mt-5">Cerere radiere autoturism</button>
      <div class="row">
        <div class="col-5">
          <button class="button6 mb-3">Editare</button>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
          <button class="button7 mb-3">Sterge</button>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-3"></div> -->
    <!-- <div class="col-lg-4 col-md-6 col-sm-12">
      <button class="button3 mb-2 mt-5">Cerere schimbare X</button>
      <div class="row">
        <div class="col-5">
          <button class="button8">Editare</button>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
          <button class="button9">Sterge</button>
          <div class="col-4"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->
