  <div class="container fixed-top">
    <div class="row">
      <div class="col-2 mt-1">
        <div class="Back"></div>
      </div>
      <div class="col-8">
        <nav class="navbar">
          <div class="navbar-nav flex-row" style="width: 100%">
            <div class="row" style="width: 100%">
              <div class="col-4">
                <a
                  class="nav-link"
                  style="position: relative; bottom: 10px; margin-top: 350px"
                  routerLink="/"
                  >Home</a
                >
              </div>
              <div class="col-4">
                <a
                  class="nav-link"
                  style="position: relative; bottom: 10px; margin-top: 350px"
                  routerLink="/auto-form"
                  >Form</a
                >
              </div>
              <div class="col-4">
                <a
                  class="nav-link"
                  style="position: relative; bottom: 10px; margin-top: 350px"
                  href="#"
                  >User</a
                >
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-2 mt-1">
        <div class="Back">
          <img src="/assets/images/locksmith.png" />
        </div>
      </div>
    </div>
  </div>
