<div class="container fixed-top">
  <div class="row">
    <div class="col-2 mt-1">
      <div class="Back">
        <img src="/assets/images/Group.png" routerLink="/passport-menu" />
      </div>
    </div>
    <div class="col-8">
      <nav class="navbar">
        <div class="navbar-nav flex-row" style="width: 100%">
          <div class="row" style="width: 100%">
            <div class="col-4">
              <a
                class="nav-link"
                style="position: relative; bottom: 10px"
                routerLink="/"
                >Home</a
              >
            </div>
            <div class="col-4">
              <a
                class="nav-link"
                style="position: relative; bottom: 10px"
                routerLink="/passport-form"
                >Form</a
              >
            </div>
            <div class="col-4">
              <a
                class="nav-link"
                style="position: relative; bottom: 10px"
                href="#"
                >User</a
              >
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-2 mt-1">
      <div class="Back">
        <img src="/assets/images/locksmith.png" />
      </div>
    </div>
  </div>
</div>
<div class="container" style="position: relative; top: 200px">
  <div class="row">
    <div class="col-md-6 mb-5" style="text-align: center">
      <div class="ImgForm1">
        <img
          src="/assets/images/Subtract.png"
          routerLink="/passport-existing-forms"
        />
        <h1>Formular existent</h1>
      </div>
    </div>
    <div class="col-md-6" style="text-align: center">
      <div class="Form2">
        <img
          src="/assets/images/Daco_3060594.png"
          routerLink="/passport-create-form"
        />
        <h1>Creaza un nou formular</h1>
      </div>
    </div>
  </div>
</div>
