  <div class="container" style="margin-top: 170px">
    <div class="row" style="height: 430px">
      <div class="col-lg-6" style="height: 430px">
        <div class="primul">
          <div class="mb-5">
            <h1>Sing in to</h1>
            <h2>Personal/Company Acount</h2>
          </div>
          <div>
            <p class="p1">If you don`t have an account register </p>
          </div>

          <div>
            <p class="p1">You can </p>
            <p class="p2" routerLink="/register"> Register here!</p>
          </div>
          <div style="position: relative; left: 340px; bottom: 190px">
            <img src="/assets/images/Saly-14.png" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 loginBox">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <div class="ultimul">
              <h3>Login Here</h3>
            </div>
            <form>
              <div class="Email mt-4 mb-5" style="height: 30px">
                <input
                  type="text "
                  name="Email"
                  style="height: 50px"
                  placeholder="Enter Email"
                />
              </div>
              <div class="Pass mt-3 mb-3">
                <input
                  type="password"
                  name="Pass"
                  style="height: 50px"
                  value="sign in"
                />
              </div>
              <div style="text-align: end">
                <a href="#">Forget Password?</a>
              </div>

              <button class="button mt-3 mb-3">Submit</button>
            </form>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </div>