  <div class="home_title">
  </div>
  <div class="home_img_photo_1_container">
    <img src="/assets/images/Untitled-7.png" />
  </div>
  <span class="home_buttons">
    <button class="home_drpiv_button" routerLink="/auto-menu">DRPCIV</button>
    <button class="home_passport_button" routerLink="/passport-menu">PASSPORT</button>
  </span>
  <div class="login_button_container">
    <a class="login_button" routerLink="/log-in">
      <img class="login_button_photo" src="/assets/images/locksmith.png" />
    </a>
  </div>